
<template name="corpArea">
  <div class="row">
    <div class="col-md-12">
      <div class="corp-area {{active(game.turn_owner)}} row">
        <div class="remote-servers col-md-6">
          {{#each server in player.remoteServersCards }}
            {{> remoteServer server=server }}
          {{/each }}
        </div>
        <div class="central-servers col-md-6">
          <div class="row">
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="hq">
                {{#let hq=(player.centralServerCards 'hq') }}
                  <ul class="list-unstyled hq__ices">
                    {{#each item in hq.ices }}
                      <li class="ice">{{> card card=item.card rezzed=item.rezzed }}</li>
                    {{/each }}
                  </ul>
                  {{> card card=(player.identity) }}
                  <ul class="list-unstyled hq__root">
                    {{#each item in hq.upgrades }}
                      <li>{{> card card=item.card rezzed=item.rezzed }}</li>
                    {{/each }}
                  </ul>
                {{/let }}
              </div>
              <div class="root">
              </div>
            </div>
            <div class="col-md-4">
              <div class="rnd">
                {{#let rnd=(player.centralServerCards 'rnd') }}
                  <ul class="list-unstyled rnd__ices">
                    {{#each item in rnd.ices }}
                      <li class="ice">{{> card card=item.card rezzed=item.rezzed }}</li>
                    {{/each }}
                  </ul>
                  {{> deck size=player.deckSize background=player.background_img_src }}
                  <ul class="list-unstyled rnd__root">
                    {{#each item in rnd.upgrades }}
                      <li>{{> card card=item.card rezzed=item.rezzed }}</li>
                    {{/each }}
                  </ul>
                {{/let }}
              </div>
            </div>
            <div class="col-md-4">
              <div class="archives">
                {{#let archives=(player.centralServerCards 'archives') }}
                  <ul class="list-unstyled rnd__ices">
                    {{#each item in archives.ices }}
                      <li class="ice">{{> card card=item.card rezzed=item.rezzed }}</li>
                    {{/each }}
                  </ul>
                  <ul class="list-unstyled rnd__root">
                    {{#each item in archives.upgrades }}
                      <li>{{> card card=item.card rezzed=item.rezzed }}</li>
                    {{/each }}
                  </ul>
                {{/let }}
              </div>
            </div>
          </div>
          <div class="row">
            {{> score player=player }}
          </div>
          <div class="row">
            <div class="col-md-8">
              <div class="score">
              </div>
            </div>
            <div class="col-md-4">
              {{> actionList actions=actions }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{> hand player=player game=game }}
  </div>
</template>

<template name="remoteServer">
  <div class="remote-server">
    <ul class="list-unstyled remote-server__ices">
      {{#each item in server.ices }}
        <li class="ice">{{> card card=item.card rezzed=item.rezzed }}</li>
      {{/each }}
    </ul>
    <ul class="list-unstyled remote-server__server">
      <li>{{> card card=server.card rezzed=server.rezzed }}</li>

      {{#each item in server.upgrades }}
        <li>{{> card card=item.card rezzed=item.rezzed }}</li>
      {{/each }}
    </ul>
  </div>
</template>
