<template name="runnerArea">
  <div class="row">
    <div class="col-md-12">
      <div class="runner-area {{active(game.turn_owner)}} row">
        <div class="col-md-6">
          <div class="row">
            <div class="heap col-md-4">
            </div>
            <div class="stack col-md-4">
              {{> deck size=player.deckSize background=player.background_img_src }}
            </div>
            <div class="identity col-md-4">
              {{> card card=player.identity}}
            </div>
          </div>
          <div class="row">
            <div class="score col-md-12">
              Cliks and stuff
            </div>
          </div>
          <div class="row">
            <div class="score col-md-8">
            </div>
            <div class="col-md-4">
              {{> actionList actions=actions }}
            </div>
          </div>
        </div>
        <div class="rig col-md-6">
          <div class="rig__program-row">
            {{#each program in player.programCards }}
              {{> card card=program.card }}
            {{/each}}
          </div>
          <div class="rig__hardware-row">
            {{#each hardware in player.hardwareCards }}
              {{> card card=hardware.card }}
            {{/each}}
          </div>
          <div class="rig__resource-row">
            {{#each resource in player.resourceCards }}
              {{> card card=resource.card }}
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{> hand player=player }}
  </div>
</template>
