<template name="runnerArea">
  <div class="row">
    <div class="col-md-12">
      <div class="runner-area {{active(game.turn_owner)}} row">
        <div class="col-md-6">
          <div class="row">
            <div class="heap col-md-4">
            </div>
            <div class="stack col-md-4">
              {{> deck size=player.deckSize background=player.background_img_src }}
            </div>
            <div class="identity col-md-4">
              {{> card card=player.identity}}
            </div>
          </div>
          <div class="row">
            {{> score player=player }}
          </div>
          <div class="row">
            <div class="score col-md-8">
            </div>
            <div class="col-md-4">
              {{> actionList actions=actions }}
            </div>
          </div>
        </div>
        <div class="rig col-md-6">
          <ul class="list-unstyled rig__programs">
            {{#each program in player.programCards }}
              <li class="program">{{> card card=program.card }}</li>
            {{/each}}
          </ul>
          <ul class="list-unstyled rig__hardware">
            {{#each hardware in player.hardwareCards }}
              <li class="hardware">{{> card card=hardware.card }}</li>
            {{/each}}
          </ul>
          <ul class="list-unstyled rig__resources">
            {{#each resource in player.resourceCards }}
              <li class="hardware">{{> card card=resource.card }}</li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    {{> hand player=player game=game }}
  </div>
</template>
